#nav{
    color: black;
    display: flex;
    justify-content: flex-end;
    
   
}
#nav a{
    margin-right: 25px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}
#nav button
{
    margin-top: 20px;
    height: 25px;
    width: 70px;

} 
#logo
{
    margin-top: 150px;
    text-align: center;
    /* height: 10;
    width: 20;*/
} 
 .searchbox
 {
    margin: auto; 
     position: relative;
     width: 600px;
     height: 50px;
     border: 1px solid rgb(219, 214, 214);
     padding: 5px 5px;
     border-radius: 50px;
     
     
 }

 .searchbox:hover
 {
     box-shadow: 0 0 10px 2px rgb(219, 216, 216);
 }
 .searchs
 {
    
   padding-top: 12px;  
   padding-bottom:12px;
   width: 300px;
   outline: 20px;
    border: 1px solid white;
   

 }

 .searchbtn
 {
    color: rgb(168, 164, 164); } 
   
 .camera
{
    color: black;
     margin-left: 190px; 
     cursor: pointer;

}
.mic
{
    margin-left: 10px;
    cursor: pointer;
}
footer
{
    color: black;
    margin-top: 200px;
    background-color:rgb(245, 241, 241) ;
}
html,body{
    height: 100%;
    margin: 0px;
}
body
{
 display: flex;
 flex-direction: column;
}
#middle
{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a
{
  color: rgb(78, 78, 78);
   text-decoration: none;
   word-spacing: 10px;
   
}
footer a.privacy
{
    
    display: flex;
    justify-content:flex-end ;
}
 .bar 
{
    font-size: 17px;
    display: flex;
    justify-content: flex-end;
} 


